In [2]:
import pprint
import json
import time
import os
import pandas as pd
from kafka import KafkaProducer
import glob

In [30]:
def readFiles(path):
    all_files =  glob.glob(os.path.join(path,"*.csv"))
    li = []
    for filename in all_files:
        print(filename)
        df = pd.read_csv(filename, header=0, encoding='latin-1')
        li.append(df)
    frame = pd.concat(li, axis=0, ignore_index=True)
    return frame

def producer_7j(df):
    producer = KafkaProducer(bootstrap_servers="localhost:9092")
    while True:
        for index,row in df.iterrows():
            count=str(row.name)
            value=row[0]
            msg = count+":"+value
            #Configuration of broker:auto.create.topics.enable
            producer.send("eolienne_DT",msg.encode('utf8'))
            #print("{} Produced records[{}] : {}".format(time.time(), index,msg))
            time.sleep(0.2)
        time.sleep(10000)

In [4]:
if __name__ == "__main__":
    path = r'/work/weiy/DataAnalysisFramework-ref/data/Lacq/jour_1_DT'
    #df = readFiles(path)
    
    producer_7j(df)

/work/weiy/DataAnalysisFramework-ref/data/Lacq/jour_1_DT/myCsv_0.csv
/work/weiy/DataAnalysisFramework-ref/data/Lacq/jour_1_DT/myCsv_1.csv
/work/weiy/DataAnalysisFramework-ref/data/Lacq/jour_1_DT/myCsv_2.csv
/work/weiy/DataAnalysisFramework-ref/data/Lacq/jour_1_DT/myCsv_3.csv
/work/weiy/DataAnalysisFramework-ref/data/Lacq/jour_1_DT/myCsv_4.csv
/work/weiy/DataAnalysisFramework-ref/data/Lacq/jour_1_DT/myCsv_5.csv

In [15]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [22]:
df.columns = ['Heure',
 'Temps écoulé',
 '4069 state',
 'Battery voltage',
 'Flow SP',
 'Unit Code',
 'Flow M',
 'Pressure',
 'Temperature',
 'Latitude',
 'Longitude',
 'Altitude',
 'Head. Rel. True North',
 'Pressure',
 'Temperature',
 'Humidity',
 'MDA Wnd Dir',
 'MDA Wnd Speed',
 'MWD Wind Dir',
 'MWD Wind Speed',
 'Gaz Concentration 1',
 'Gaz Concentration 2',
 'Gaz Concentration 3',
 'Gaz Concentration 4',
 'SPA 1',
 'SPA 2',
 'Cellule Photo',
 'Temperature',
 'Pressure',
 'Flow MassFlow 1',
 'NOTUSED Flow MassFlow 2',
 'Flow',
 'Humidity',
 'Test',
 'Details',
 'SPA 3',
 'SPA 4',
 'CavityPressure',
 'CavityTemp',
 'CH4',
 'CH4_dry',
 'C2H6',
 'C2H6_dry',
 '13CH4',
 'H2O',
 'CO2',
 'C2C1Ratio',
 'Delta_iCH4_Raw',
 'HP_Delta_iCH4_30s',
 'HP_Delta_iCH4_2min',
 'HP_Delta_iCH4_5min']

In [23]:
df

,Heure,Temps écoulé,4069 state,Battery voltage,Flow SP,Unit Code,Flow M,Pressure,Temperature,Latitude,...,C2H6,C2H6_dry,13CH4,H2O,CO2,C2C1Ratio,Delta_iCH4_Raw,HP_Delta_iCH4_30s,HP_Delta_iCH4_2min,HP_Delta_iCH4_5min
0,02/10/2019 09:11:02,0,"1,010000","888888,00","9,00","17,00","0,00","1,008","19,933","43,247596",...,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
1,02/10/2019 09:11:03,1,"1,010000","888888,00","9,00","17,00","0,00","1,008","19,955","43,247597",...,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
2,02/10/2019 09:11:04,2,"1,010000","888888,00","9,00","17,00","0,00","1,008","19,955","43,247597",...,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
3,02/10/2019 09:11:05,3,"1,010000","888888,00","9,00","17,00","0,00","1,008","19,944","43,247597",...,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
4,02/10/2019 09:11:06,4,"1,010000","888888,00","9,00","17,00","0,00","1,008","19,944","43,247597",...,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43723,02/10/2019 11:12:25,7283,"1,010000","888888,00","9,00","17,00","0,20","1,009","29,537","43,247613",...,"0,00","0,00","0,02","1,69","393,03","0,00","-54,35","-50,15","-48,45","-47,95"
43724,02/10/2019 11:12:26,7284,"1,010000","888888,00","9,00","17,00","0,20","1,009","29,558","43,247613",...,"-0,00","-0,00","0,02","1,69","393,00","-0,00","-53,49","-50,27","-48,52","-48,00"
43725,02/10/2019 11:12:27,7285,"1,010000","888888,00","9,00","17,00","0,20","1,009","29,558","43,247617",...,"-0,01","-0,01","0,02","1,69","392,95","-0,01","-48,51","-50,24","-48,48","-48,02"
43726,02/10/2019 11:12:28,7286,"1,010000","888888,00","9,00","17,00","0,20","1,009","29,547","43,247617",...,"-0,01","-0,01","0,02","1,69","392,95","-0,01","-48,51","-50,24","-48,48","-48,02"
43727,02/10/2019 11:12:29,7287,"1,010000","888888,00","9,00","17,00","0,20","1,009","29,537","43,247617",...,"-0,01","-0,01","0,02","1,69","392,66","-0,00","-52,53","-50,41","-48,54","-48,06"

In [25]:
df.to_csv(r'/work/weiy/DataAnalysisFramework-ref/data/Lacq/jour_1_DT/all_in_one.csv',index=False, encoding='latin-1')

In [78]:
new = pd.read_csv(r'/work/weiy/DataAnalysisFramework-ref/data/Lacq/jour_1_DT/all_in_one.csv', header=None,skiprows=1,encoding='latin-1')

In [79]:
new

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,02/10/2019 09:11:02,0,"1,010000","888888,00","9,00","17,00","0,00","1,008","19,933","43,247596",...,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
1,02/10/2019 09:11:03,1,"1,010000","888888,00","9,00","17,00","0,00","1,008","19,955","43,247597",...,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
2,02/10/2019 09:11:04,2,"1,010000","888888,00","9,00","17,00","0,00","1,008","19,955","43,247597",...,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
3,02/10/2019 09:11:05,3,"1,010000","888888,00","9,00","17,00","0,00","1,008","19,944","43,247597",...,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
4,02/10/2019 09:11:06,4,"1,010000","888888,00","9,00","17,00","0,00","1,008","19,944","43,247597",...,"0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43723,02/10/2019 11:12:25,7283,"1,010000","888888,00","9,00","17,00","0,20","1,009","29,537","43,247613",...,"0,00","0,00","0,02","1,69","393,03","0,00","-54,35","-50,15","-48,45","-47,95"
43724,02/10/2019 11:12:26,7284,"1,010000","888888,00","9,00","17,00","0,20","1,009","29,558","43,247613",...,"-0,00","-0,00","0,02","1,69","393,00","-0,00","-53,49","-50,27","-48,52","-48,00"
43725,02/10/2019 11:12:27,7285,"1,010000","888888,00","9,00","17,00","0,20","1,009","29,558","43,247617",...,"-0,01","-0,01","0,02","1,69","392,95","-0,01","-48,51","-50,24","-48,48","-48,02"
43726,02/10/2019 11:12:28,7286,"1,010000","888888,00","9,00","17,00","0,20","1,009","29,547","43,247617",...,"-0,01","-0,01","0,02","1,69","392,95","-0,01","-48,51","-50,24","-48,48","-48,02"
43727,02/10/2019 11:12:29,7287,"1,010000","888888,00","9,00","17,00","0,20","1,009","29,537","43,247617",...,"-0,01","-0,01","0,02","1,69","392,66","-0,00","-52,53","-50,41","-48,54","-48,06"

In [96]:
def producer_dt(df):
    producer = KafkaProducer(bootstrap_servers="localhost:9092")
    while True:
        for index,row in df.iterrows():
            count=str(row.name)
            #print(row)
            ele=[]
            for item in row:
                ele.append(str(item))
            msg=';'.join(w for w in ele)
            #print(msg)
            #Configuration of broker:auto.create.topics.enable
            producer.send("eolienne_DT",msg.encode('utf8'))
            #print("{} Produced records[{}] : {}".format(time.time(), index,msg))
            time.sleep(0.08)
        time.sleep(10000)

In [ ]:
producer_dt(new)